page-home {
    .contentColor{
        background-color: rgb(255, 255, 255)
    }
    .bottonCss{
        border-radius: 100px;
        border-color: orange;
        border-width: 5px;
        width:60px;  
        height:60px;  
        margin: 20px  
    
    }
}
